@page "/Logout"
@model AMR_Project.Pages.LogoutModel
@{
}

<h1>Страница выхода</h1>
@{
    if (User.Identity.IsAuthenticated)
    {
        <form asp-page="/Account/Logout" method="post">
            <button>Нажмите здесь, чтобы выйти</button>
        </form>
    }
    else
    {
        <p>Вы успешно вышли.</p>
    }
}