@page
@model AMR_Project.Pages.Admin.AddDubStudioModel
@{
}
<form method="post">
    <label asp-for="Input.Name"></label><br />
    <input asp-for="Input.Name" /><br />
    <button type="submit">Add</button>
</form>
<a asp-page="/Admin/Admin">Return to admin page</a>