@page "{id}"
@model AMR_Project.Pages.Admin.AddRanobePageModel
@{
}
<section class="conteiner">
<form method="post">
    <input asp-for="Input.Name" placeholder="Name" /><br />
    <input asp-for="Input.ChapterNumber" placeholder="ChapterNumber" /><br />
    <input asp-for="Input.Tome" placeholder="Tome" /><br />
    <input asp-for="Input.Text" placeholder="Text" /><br />
    <button type="submit">Add page</button>
</form>
</section>
