@page "/Admin"
@model AMR_Project.Pages.AdminModel
@{
}

<a asp-page="AddAnime">Add anime</a>
<br />
<a asp-page="AddGenre">Add genre</a>
<br />
<a asp-page="AddTag">Add tag</a>
<br />
<a asp-page="AddDubStudio">Add dub studio</a>
<br />