@page
@model AMR_Project.Pages.Admin.MangasModel
@{
}
<section class="conteiner">
    @foreach (var r in Model.Mangas)
    {
        <p>@r.Name <a asp-page="AddMangaChapter" asp-route-id="@r.Id">Add page</a></p>
    }
</section>