<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Аниме - Главная</title>
</head>
<body>
    <header>
        <a asp-page="/Index" class="logo">AMR</a>
        <nav class="AMR_links">
            <a class="AMR_link" asp-page="/Index">Аниме</a>
            <a class="AMR_link" asp-page="/Mangas/MainManga">Манга</a>
            <a class="AMR_link" asp-page="/Ranobes/MainRanobe">Ранобе</a>
        </nav>
        <input class="search" type="search" placeholder="Поиск по сайту">
        <partial name="_LoginPartial" />
    </header>
    @RenderBody()
    @*<section class="sectionAuthorization displayNone">
            <div class="popup-close">&times;</div>
            <h1 class="textReg">Авторизация</h1>
            <form method="post">
                <div class="authorization">
                    <h3>Никнейм</h3>
                    <input asp-for="Input.UserName" id="" placeholder="Введите никнейм">
                    <h3>Пароль</h3>
                    <input asp-for="Input.Password" id="" placeholder="Введите пароль">
                    <button type="submit">Войти</button>
                </div>
            </form>
        </section>*@

    <footer>
    </footer>

    <script src="~/js/script.js"></script>
    <script src="~/js/title.js"></script>
    <script src="/js/readManga.js"></script>
</body>
</html>
