<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Аниме - Главная</title>
</head>
<body>
    <header>
        <a asp-page="/Index" class="logo">AMR</a>
        <nav class="AMR_links">
            <a class="AMR_link" asp-page="/AllAnime">Аниме</a>
            <a class="AMR_link" asp-page="/Manga">Манга</a>
            <a class="AMR_link" asp-page="/Ranobe">Ранобе</a>
        </nav>
        <input class="search" type="search" placeholder="Поиск по сайту">
        <partial name="_LoginPartial"/>
    </header>
    <section class="conteiner">
        @RenderBody()
    </section>

    <footer>
    </footer>
</body>
</html>
