@font-face {
    font-family: Butler;
    src: url(~/fonts/Butler_Regular.otf);
    font-size: 16px;
}



body{
    font-size: 18px;
    margin: 0px;
	padding: 0px;
}
div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}


header{
    display: flex;
    justify-content: space-between;
    background: #7673D9;
    color: white;
    border-bottom: black solid 3px;

    
}
.logo{
    font-family: Butler, sans-serif;
    font-size: 45px;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

.AMR_link{
    font-size: 24px;
    margin-left: 25px;
}

.search{
    border: black solid 1px;
    border-radius: 25px;
    height: 25px;
    min-width: 150px;
    width: 300px;
    padding: 0px 10px;
    margin-top: 15px;
}

.reg_link{
    font-size: 20px;
    padding-right: 25px;
    background: #7673D9;
    border: none;
    font-family: serif;


}

.AMR_links{
    align-content: left;
}
.AMR_links, .reg_links{
    padding-top: 15px;
}
.reg_links{
    min-width: 205px;
}

.conteiner{
    width: 1200px;;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 25px;
}
.conteinerReadRanobe{
    width: 900px;;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 25px;
}
.textPopular{
    display: flex;
    justify-content: flex-start;
}
.textAllAnime{
    margin: 30px;
}
.slider{   
    display: grid;
    grid-template-columns: repeat(7, 160px);
    column-gap: 15px;
    margin: auto;
    

}
.imgAnime{
    height: 225px;
    width: 160px;
    
}

.scheduleAndOngoings{
    display: grid;
    grid-template-columns: 350px auto;
    gap: 25px;
}



.textOngoing{
    margin-top: 75px;
}

.schedule{
    /* background:#534ED9; */
    margin-top: 25px;
    text-align: center;
}
.schedule h3{
    font-size: 24px;
    background:#7673D9;
    padding: 7px 10px;
    color: white;
    margin-bottom: 15px;
    font-weight: 500;
}
.nameWeekDay{
    display: block;
    padding: 7px 10px;
    border-left: 15px solid #7673D9;
    border-bottom: 3px solid #7673D9;
    background: #9C99EC;
    padding-left: 10px;
}


.ongoingsWeekDay{
    margin-top: 0px;
    font-size: 16px;
}
.ongoingsWeekDay-item{
    box-sizing:border-box;
    list-style-type: none;
    padding: 5px 0px;
    display: grid;
    text-align: left;
    grid-template-columns: 50px 150px 110px;
    margin-left: -25px;
    column-gap: 10px;
    align-items:center;
}

.roundPicture{
    object-fit: cover;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
}

.imgongoings, .allAnime{

    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    
    
}

.ongoings{
    text-align: center;
    margin-top: -25px;
    
}













.textReg{
    margin-top: 50px;
    text-align: center;
}

.registration, .infoAccount, .authorization{
    display: grid;
    grid-template-columns: auto 300px;
    justify-content: center;
    align-items: center;

}

.registration input, .authorization input, .infoAccount input{
    font-size: 14px;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 25px;
}

    .registration button, .authorization button, .infoAccount button {
        padding: 10px 25px;
        font-size: 16px;
        border: 1px solid black;
        border-radius: 20px;
        background: #534ED9;
        color: white;
        width: 250px;
        display: grid;
        grid-column: 1/3;
        margin: auto;
        margin-top: 25px;
    }


.infoAccount{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.infoAccount form {
    display: grid;
    grid-column: 1/3;
    margin: auto;
}

.profileLists{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    justify-content: center;
}
.categoryList{
    font-weight: 600;
    font-size: 20px;
}
.nameLists{
    padding:0px;
}
.nameList-item{
    list-style-type: none;
}
.menuLists{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.menuLists-item{
    background: #9C99EC;
    padding: 12px 35px;
    border-right: 2px solid #7673D9;
}
.menuLists-item:last-child{
    border-right: none;
}
.selectList{
    box-sizing:border-box;
    list-style-type: none;
    padding: 5px 0px;
    display: grid;
    text-align: left;
    grid-template-columns: 50px auto 110px;
    column-gap: 25px;
    align-items:center;
}
.selectList button{
    background:none;
    border: none;
}











.sectionAuthorization{
    width: 500px;
    height: 325px;
    margin: auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: white;
    border: 1px solid black;
    padding-bottom: 25px;
}
.sectionRegistration{
    width: 550px;
    height: 450px;
    margin: auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: white;
    border: 1px solid black;
    padding-bottom: 25px;
}
.authorization button{
    width: 150px;
}

.authorization input{
    width: 200px;
}

.authorization{
    margin-left: 50px;
}

.popup-close{
    position:absolute;
    text-align: end;
    padding-top: 5px;
    padding-right: 7px;
    display: inline;
    right: 0px;
}




/* allAnime */
.allAnimeFilter{
    display: grid;
    grid-template-columns: 7fr 2fr;
    row-gap: -80px;
    margin-top: 50px;
}


.filter{
    margin-top: -20px;
}

.filter h3{
    border-left: 15px solid #7673D9;
    background: #9C99EC;
    padding-left: 10px;
}
.filter input{
    margin-right: 7px;
}

.hint{
    display:inline-block;
    margin-left: 5px;
    width: 17px;
    height: 17px;
    background: #9C99EC;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 14px;
}



/* animeTitle */


.title{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 250px auto;
    column-gap: 50px;
}
.imgTitle{
    height: 350px;
    width: 250px
}
.listOfLists{
    margin-top: 10px;
    height: 50px;
    width: 250px;
    padding: 15px;
    font-size: 16px;
}
.buttonRead{
    display: block;
    margin-top: 10px;
    height: 50px;
    width: 250px;
    padding: 10px 15px;
    background:#9C99EC;
    text-align: center;
    font-size: 21px;
}
.infoTitle h1{
    margin-top: 0px;
    font-size: 36px;
    font-weight: 500;
}

.columnInfoTitle{
    display: grid;
    justify-content: start;
    grid-template-columns: auto auto;
    font-size: 18px;  
    align-items:center;
}
.columnChaptersTitle{
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 18px;  
    align-items:center;
    justify-content: space-between;
    column-gap: 25px;
}

.nameInfoTitle{
    color: #4f5b66;
    margin-right: 35px;
}



.description{
    text-indent: 50px;
    line-height: 1.35em;
}
.description p{
    white-space: pre-wrap;
}
.menuTitle{
    display: flex;
}
.menuTitle-item{
    background: #B7B5F6;
    padding: 12px 35px;
    border-right: 3px solid #9C99EC;
}
.menuTitle-item:last-child{
    border-right: none;
}


.animeVideo{
    width: 100%;
    height: 40vw;
    border: none;

}






.textChapter{
    font-family: "Tahoma";
    font-size: 16px;
    white-space: pre-wrap;
    text-indent: 50px;
}
.chapterNavigation{
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
}
.chapterNavigation select{
    padding: 5px 10px;
    max-width: 300px;
}


.sliderForReading{
    margin-top: 25px;
    display: grid;
    justify-content: center;

    
}
.sliderForReading-img{
    height: 100vh;
    
}




.displayNone{
    display: none;
}

.displayInline-block{
    display: inline-block;
}