@page "RanobeMain"
@model AMR_Project.Pages.Ranobes.MainRanobeModel
@{
}
<section class="conteiner">
    <div class="Popular">
        <div class="textPopular">
            <h2>Самая популярная манга</h2>
            <a class="textAllAnime" asp-page="/Ranobe/AllRanobe">Вся манга</a>
        </div>
        <div class="slider">
            <img class="PopularAnime imgAnime" src="../img/38524.jpg">
            <img class="PopularAnime imgAnime" src="../img/40834.jpg">
            <img class="PopularAnime imgAnime" src="../img/45576.jpg">
            <img class="PopularAnime imgAnime" src="../img/5114.jpg">
            <img class="PopularAnime imgAnime" src="../img/9253.jpg">
            <img class="PopularAnime imgAnime" src="../img/47790.jpg">
            <img class="PopularAnime imgAnime" src="../img/48569.jpg">

        </div>
    </div>
    <!-- <div class="scheduleAndOngoings"> -->
    <!-- <div class="schedule"> -->
    <!-- <h3>Расписание</h3>
    <div class="WeekDay">
        <span class="nameWeekDay">Понедельник</span>
        <ul class="ongoingsWeekDay displayNone">
            <li class="ongoingsWeekDay-item" title="Реикарнация">
                <img class="roundPicture" src="../img/45576.jpg" alt="Реикарнация" title="Реикарнация">
                <p>Реинкарнация безработного: История о приключениях в другом мире</p>
                <p>10 серия <br> (2 янв. 17:15)</p>
            </li>
            <li class="ongoingsWeekDay-item">
                <img class="roundPicture" src="../img/38524.jpg" alt="Атака титанов" title="Атака титанов">
                <p>Атака титанов</p>
                <p>10 серия <br> (2 янв. 17:15)</p></li>
            <li class="ongoingsWeekDay-item">hjk</li>
            <li class="ongoingsWeekDay-item">huijk</li>
            <li class="ongoingsWeekDay-item">hhjk</li>
        </ul>
        <span class="nameWeekDay">Вторник</span>
        <ul class="ongoingsWeekDay displayNone">
            <li class="ongoingsWeekDay-item">frgt</li>
            <li class="ongoingsWeekDay-item">rety</li>
            <li class="ongoingsWeekDay-item">ert</li>
            <li class="ongoingsWeekDay-item">ert</li>
            <li class="ongoingsWeekDay-item">ret</li>
        </ul>
        <span class="nameWeekDay">Среда</span>
        <ul class="ongoingsWeekDay displayNone">
            <li class="ongoingsWeekDay-item">frgt</li>
            <li class="ongoingsWeekDay-item">frgth</li>
            <li class="ongoingsWeekDay-item">sdfgh</li>
            <li class="ongoingsWeekDay-item">er</li>
            <li class="ongoingsWeekDay-item">dfg</li>
        </ul>
        <span class="nameWeekDay">Четверг</span>
        <ul class="ongoingsWeekDay displayNone">
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
        </ul>
        <span class="nameWeekDay">Пятница</span>
        <ul class="ongoingsWeekDay displayNone">
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
        </ul>
        <span class="nameWeekDay">Суббота</span>
        <ul class="ongoingsWeekDay displayNone">
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
        </ul>
        <span class="nameWeekDay">Воскресенье</span>
        <ul class="ongoingsWeekDay displayNone">
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
            <li class="ongoingsWeekDay-item">fglkj;l</li>
        </ul>
    </div> -->
    <!-- </div> -->
    <div class="ongoings">
        <h2 class="textOngoing">Онгоинги</h2>
        <div class="imgongoings">
            <a href="animeTitle.html"><img class="imgAnime" src="../img/38524.jpg"></a>
            <a href="animeTitle.html"><img class="imgAnime" src="../img/40834.jpg"></a>
            <a href="animeTitle.html"><img class="imgAnime" src="../img/45576.jpg"></a>
            <a href="animeTitle.html"><img class="imgAnime" src="../img/5114.jpg"></a>
            <a href="animeTitle.html"><img class="imgAnime" src="../img/9253.jpg"></a>
            <a href="animeTitle.html"><img class="imgAnime" src="../img/47790.jpg"></a>
            <a href="animeTitle.html"><img class="imgAnime" src="../img/48569.jpg"></a>
        </div>
    </div>
    <!-- </div> -->
</section>