@page "Ranobes/{ranobeId}/{ranobePage}"
@model AMR_Project.Pages.Ranobes.RanobeReadModel
@{
}
<section class="conteinerReadRanobe">
    <div class="readRanobe">
        <h1><a href="ranobeTitle.html">Хоримия</a></h1>
        <div class="chapterNavigation">
            <a href="" class="predChapter">Предыдущая глава</a>
            <select>
                <option>Содержание</option>
                <option value="">Глава 1 - бла бла</option>
                <option value="">Глава 2</option>
                <option value="ссылка">Глава 3</option>
                <option value="ссылка">Глава 4</option>
                <option value="ссылка">Глава 5</option>
                <option value="ссылка">Глава 6</option>
            </select>
            <a href="" class="nextChapter">Следующая глава</a>
        </div>
        <p>Глава 1 - бла бла</p>
        <font class="textChapter">
            Графиня Юнис прикрыла рукой открытый рот. Потому что она думала, что может закричать.

            Артезия не удивилась. Потому что она знала, кто придет.

            Софи и Эмили протянули руку, чтобы помочь Артезии встать.

            Дверь открылась.

            На самом деле шагов практически не было слышно.

            Но графиня Юнис почувствовала, что слышит такой звук. Присутствие императрицы было слишком велико.

            Прошло 18 лет с тех пор, как императрица выходила из дворца.

            Графиня Юнис знала императрицу. В детстве именно императрица была самым страшным человеком в императорском дворце.

            Императрица была стара, но все еще холодна и величава.

            Императрица сегодня снова была в черном платье.

            Так как интерьер был сплошь наполнен украшениями для невесты, то ее траурное черное платье было еще более заметным.

            - Спасибо, что пришли, Ваше Величество.
        </font>
        <div class="chapterNavigation">
            <a href="" class="predChapter">Предыдущая глава</a>
            <select>
                <option>Содержание</option>
                <option value="">Глава 1 - бла бла</option>
                <option value="">Глава 2</option>
                <option value="ссылка">Глава 3</option>
                <option value="ссылка">Глава 4</option>
                <option value="ссылка">Глава 5</option>
                <option value="ссылка">Глава 6</option>
            </select>
            <a href="" class="nextChapter">Следующая глава</a>
        </div>
    </div>
</section>